##### Connection to mongoDB Atlas

In [7]:
import pymongo
import pandas as pd


def connect_to_mongodb_atlas(database_name):
    client = pymongo.MongoClient("mongodb+srv://sportswear_store:admin123@cluster1.wh1pvt9.mongodb.net/")
    db = client[database_name] # Select the database
    return db

def extract_all_data_to_df(db, collection_name):
    collection = db[collection_name] # Access the collection
    data = list(collection.find())# Get all the documents in the collection
    df = pd.DataFrame(data) # Convert the data to a pandas DataFrame
    return df

In [8]:
# Name of the database and the collection
database_name = "sportswear_store"
collection_name = ["Compras","Envios","Lugares","Personas","Productos","Reseñas"]  # Nombre de las colecciones

db = connect_to_mongodb_atlas(database_name)

df = extract_all_data_to_df(db, collection_name[3])

print("Data extracted:")
df

Data extracted:

,_id,nombre,correo,telefono,genero,edad,cuentas,lugar_id
0,662dcea07743fbd7afd39153,Juan,juan@example.com,123456789,Hombre,30,"[{'contraseña': 'contraseña1', 'tipoCuenta': '...",662dcea07743fbd7afd39154
1,662dcea07743fbd7afd39155,María,maria@example.com,987654321,Mujer,25,"[{'contraseña': 'contraseña3', 'tipoCuenta': '...",662dcea07743fbd7afd39156