In [1]:
import pymongo
import pandas as pd

def connect_to_mongodb_atlas(database_name):
    client = pymongo.MongoClient("mongodb+srv://sportswear_store:admin123@cluster1.wh1pvt9.mongodb.net/")
    db = client[database_name] # Select the database
    return db

def aggregate_query_to_atlas(db, collection_name, query):
    collection = db[collection_name] # Access the collection
    try:
        cursor = collection.aggregate(query)
        data = list(cursor) # Get the documents based on the query
        df = pd.DataFrame(data) # Convert the data to a pandas DataFrame
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

def find_query_to_atlas(db, collection_name, query, projection=None, sort=None, limit=None):
    collection = db[collection_name]  # Acceder a la colección
    try:
        cursor = collection.find(query, projection)
        
        if sort:
            cursor = cursor.sort(sort)
        
        if limit:
            cursor = cursor.limit(limit)
        
        data = list(cursor)  # Obtener los documentos basados en la consulta
        df = pd.DataFrame(data)  # Convertir los datos a un DataFrame de pandas
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

----

##### ¿Cuál es el top 10 de lugares que han recibido más envíos?

In [2]:
# Ejemplo de uso
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$group": {
            "_id": "$lugar_id",
            "totalEnvios": { "$sum": 1 }
        }
    },
    {
        "$lookup": {
            "from": "Lugares",
            "localField": "_id",
            "foreignField": "_id",
            "as": "lugar"
        }
    },
    {
        "$unwind": "$lugar"
    },
    {
        "$sort": { "totalEnvios": -1 }
    },
    {
        "$limit": 10
    },
    {
        "$project": {
            "_id": 0,
            "lugar": "$lugar.nombre",
            "totalEnvios": 1
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Envios"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Top 10 lugares con más envíos:")
print(df)

Top 10 lugares con más envíos:
   totalEnvios             lugar
0            1            Bogotá
1            1          Medellín
2            1  Santiago de Cali

##### ¿Cuáles son las 3 fechas en las que más compras se han hecho?

In [3]:
# Ejemplo de uso
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$group": {
            "_id": { "$dateToString": { "format": "%Y-%m-%d", "date": "$fechaCompra" } },
            "totalCompras": { "$sum": 1 }
        }
    },
    {
        "$sort": { "totalCompras": -1 }
    },
    {
        "$limit": 3
    },
    {
        "$project": {
            "_id": 0,
            "fecha": "$_id",
            "totalCompras": 1
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Compras"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Las 3 fechas con más compras:")
print(df)

Las 3 fechas con más compras:
   totalCompras       fecha
0             2  2024-05-19
1             1  2024-05-18
2             1  2024-05-14

##### ¿Cuántas ventas se han hecho por cada sección?

In [4]:
# Ejemplo de uso
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    { "$unwind": "$detallesCompra" },
    {
        "$lookup": {
            "from": "Productos",
            "localField": "detallesCompra.producto_id",
            "foreignField": "_id",
            "as": "producto"
        }
    },
    { "$unwind": "$producto" },
    {
        "$group": {
            "_id": "$producto.seccionArticulo",
            "totalVentas": { "$sum": 1 }
        }
    },
    { "$sort": { "totalVentas": -1 } },
    { "$limit": 3 },
    {
        "$project": {
            "_id": 0,
            "seccion": "$_id",
            "totalVentas": 1
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Compras"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Las ventas por cada sección son:")
print(df)

Las ventas por cada sección son:
   totalVentas seccion
0            4  Hombre

##### ¿Cuántos productos de tipo articulo y cuantos productos de tipo diseño tiene la tienda?

In [5]:
# Ejemplo de uso
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$group": {
            "_id": "$tipoProducto",
            "cantidad": { "$sum": 1 }
        }
    },
    {
        "$match": {
            "_id": { "$in": ["Articulo", "Diseno"] }
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Productos"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Cantidad de Productos:")
print(df)

Cantidad de Productos:
        _id  cantidad
0  Articulo         2

##### ¿Cuales son los 3 productos más caros?

In [6]:
# Ejemplo de uso
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta find
query = { "tipoProducto": "Articulo" }
projection = { "_id": 0, "descripcion": 1, "precio": 1 }
sort = [("precio", -1)]
limit = 3

# Ejecutar la consulta find
collection_name = "Productos"
df = find_query_to_atlas(db, collection_name, query, projection, sort, limit)

print("Top 3 productos más caros de tipo Articulo:")
print(df)

Top 3 productos más caros de tipo Articulo:
   precio            descripcion
0   59.99  Pantaloneta deportiva
1   39.99    Camiseta de algodón

##### ¿Cuál es el monto total de ventas por mes de cada año?

In [7]:
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$group": {
            "_id": {
                "year": { "$year": "$fechaCompra" },
                "month": { "$month": "$fechaCompra" }
            },
            "totalgeneradoVentas": { "$sum": "$costoTotal" }
        }
    },
    {
        "$sort": { "_id.year": 1, "_id.month": 1 }
    },
    {
        "$project": {
            "_id": 0,
            "year": "$_id.year",
            "month": "$_id.month",
            "totalVentas": "$totalgeneradoVentas"
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Compras"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Cantidad de ventas generadas por mes:")
print(df)

Cantidad de ventas generadas por mes:
   year  month  totalVentas
0  2024      5       254.93

##### ¿Cuál es el promedio de edad de los clientes por género?

In [8]:
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$group": {
            "_id": "$genero",
            "promedioEdad": { "$avg": "$edad" }
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Personas"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Edad promedio de los clientes por género:")
print(df)

Edad promedio de los clientes por género:
      _id  promedioEdad
0   Mujer          25.0
1  Hombre          32.5

##### ¿Cuáles son los 10 clientes que han realizado las compras más cara en términos de costo total?

In [9]:
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$sort": { "costoTotal": -1 }
    },
    {
        "$limit": 10
    },
    {
        "$lookup": {
            "from": "Personas",
            "localField": "cuenta_usuario",
            "foreignField": "cuentas.usuario",
            "as": "cliente"
        }
    },
    {
        "$unwind": "$cliente"
    },
    {
        "$project": {
            "_id": 0,
            "nombre": "$cliente.nombre",
            "correo": "$cliente.correo",
            "telefono": "$cliente.telefono",
            "costoTotal": 1
        }
    }
]
# Ejecutar la consulta de agregación
collection_name = "Compras"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Top 10 clientes con compras más caras:")
print(df)

Top 10 clientes con compras más caras:
   costoTotal      nombre            correo   telefono
0       79.98  Juan Pérez  juan@example.com  123456789
1       79.98  Juan Pérez  juan@example.com  123456789
2       59.99   Ana López   ana@example.com  987654321
3       34.98  Juan Pérez  juan@example.com  123456789

##### ¿Cuál es el promedio de costo de los artículos de cada sección? (Hombre/Mujer/Nino)

In [10]:
database_name = "sportswear_store"
db = connect_to_mongodb_atlas(database_name)

# Definir tu consulta de agregación
query = [
    {
        "$match": { "tipoProducto": "Articulo" }
    },
    {
        "$group": {
            "_id": "$seccionArticulo",
            "promedioCosto": { "$avg": "$precio" }
        }
    },
    {
        "$project": {
            "_id": 0,
            "seccion": "$_id",
            "promedioCosto": 1
        }
    }
]

# Ejecutar la consulta de agregación
collection_name = "Productos"
df = aggregate_query_to_atlas(db, collection_name, query)

print("Promedio de costo por cada sección:")
print(df)

Promedio de costo por cada sección:
   promedioCosto seccion
0          49.99  Hombre